# Compiler files
cache/
out/


# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Generated coverage reports (lcov/gcov HTML)
coverage/

# Docs
docs/

# Dotenv file
.env

